.namecardtext NAMECARD
a.namecard(href="http://www.google.com" target="_blank" )
  h2.name 賴思玥
    span.little_eng (Lai Si Yue)
  h5.job 職稱
  hr
  p.description 創立OO設計，從平面設計/動畫玩到網頁前後端開發，致力於將Motion Graphic加入互動性精神創造新型態的網頁體驗。
  .circle.circle1
  .circle.circle2
h3 動畫網頁課程範例ㄧ-名片